@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Crimson+Pro:wght@200&family=Old+Standard+TT&family=Playfair+Display&display=swap');

.tag{
  position: relative;
  top: -180px;
    font-size: 90px;
    margin-top: 20%;
    margin-left:5%;
    margin-right: 5%;
    margin-bottom: 5%;
    color: white;
    font-style: italic;
    filter: drop-shadow(3px 3px 3px #222); 
  }
  .loading{
    min-width: 800px; 
    min-height: 2000px;
    background:#fff;
    
  }
  
  .loader {
    position: absolute;
    top: 50%;
    left: 40%;
    margin-left: 10%;
    transform: translate3d(-50%, -50%, 0);
  }
  .dot {
    width: 24px;
    height: 24px;
    background: #3ac;
    border-radius: 100%;
    display: inline-block;
    animation: slide 1s infinite;
  }
  .dot:nth-child(1) {
    animation-delay: 0.1s;
    background: #32aacc;
  }
  .dot:nth-child(2) {
    animation-delay: 0.2s;
    background: #64aacc;
  }
  .dot:nth-child(3) {
    animation-delay: 0.3s;
    background: #96aacc;
  }
  .dot:nth-child(4) {
    animation-delay: 0.4s;
    background: #c8aacc;
  }
  .dot:nth-child(5) {
    animation-delay: 0.5s;
    background: #faaacc;
  }
  @-moz-keyframes slide {
    0% {
      transform: scale(1);
    }
    50% {
      opacity: 0.3;
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }
  @-webkit-keyframes slide {
    0% {
      transform: scale(1);
    }
    50% {
      opacity: 0.3;
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }
  @-o-keyframes slide {
    0% {
      transform: scale(1);
    }
    50% {
      opacity: 0.3;
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes slide {
    0% {
      transform: scale(1);
    }
    50% {
      opacity: 0.3;
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }
 
.back{
  margin-top: 1px;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/e-cell-sakec.appspot.com/o/Events%2Fsvg.png?alt=media&token=d57d5410-6502-4796-91b2-ae2b329f3f42');
    background-repeat: no-repeat;
    min-width: 100%;
    background-size: 100% 100%;
}

.heading{
  font-family: 'Arapey', serif;
  font-weight: 700;
  text-align: center;
  font-size: 35px;
}

.upcoming{
  width: 90%;
  display: grid;
  grid-template-columns:auto;
  grid-gap: 40px;
  padding-right: 30px;
  padding-left: 30px;
  margin-left: 80px;
  /* margin-right: 150px; */
  
}
.event{
  width: 100%;
  display: grid;
  grid-template-columns:auto auto auto;
  grid-gap: 50px;
  padding-right: 30px;
  padding-left: 30px;
  height: 90vh;
  
  
}
.item {
  grid-column-start: 4;
}
.parent{
  padding: 20px; 
  border-style: solid;
  border-color: #4b494e;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-width: 5px;
  margin-top: 10px;
  background-color: rgb(201, 201, 201);
  text-align: left;
 
}
.parentupcoming{
  padding: 20px; 
  border-style: solid;
  border-color: #4b494e;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-width: 5px;
  margin-top: 10px;
  background-color: rgb(201, 201, 201);
  text-align: left;
  margin-right: -250px;
  margin-left: 450px;
 
}

.postcard{
    width: 100%;
}

.bigimage{
    width: 100%;
    height: auto;
    margin: 20px;
    margin-top: 0;
    margin-left: 0;
    border-radius: 10px;
    border: none;
}

.postTitle{
    font-size: 25px;
}
@media screen and (max-width:1024px) {
.parent{
  height:33vh;
}
}

.postAuthor{
    font-size: 18px;
    font-weight: 700;
    color: crimson;
    margin-top: -12px;
}

.postDate{
    font-size: 15px;
    margin-top: -12px;
    color: gray;
    font-weight: 700;
}

.postMeta{
    font-size: 17px;
    margin-top: -12px;
    text-align: justify;
    font-weight: 700;
}


@media screen and (max-width:800px) {

    .tag{
      font-size: 40px;
      text-align: center;
      margin-top: 20%;
      margin-left: 40%;
      margin-right: 30%;
      margin-bottom: 40%;
      filter: drop-shadow(3px 3px 3px #222); 
    }

    .parent{
      margin-left:20px;
      margin-right:20px;
    }
    .parentupcoming{
      margin-left:20px;
      margin-right:20px;
    }

    .upcoming{
      display: inline;
    }
    .event{
      display: inline;
    }

    .postTitle{
      font-size: 22px;
    }
  
  .postAuthor{
      font-size: 16px;
    }
  
  .postDate{
      font-size: 14px;
  }
  
  .postMeta{
      font-size: 15px;
  }
  
}  