<!-- <ng-container style="min-width: 100%; min-height: 100%; z-index: 1; position: relative;" *ngIf="loading" >
  <div class="d-flex justify-content-center loading">
    <p class="loader" >Loading</p>
  </div>
</ng-container>
<ng-container>
  <div class = "container back ">
    <div class="row">
        <div class="col d-flex justify-content-center">
          <h1 style="font-family:'Bebas Neue', cursive;" class="tag" >{{uData.title}}</h1>
        </div>
    </div>
  </div>
</ng-container> -->
<div class="mainback">
  <ng-container style="min-width: 100%; min-height: 100%; z-index: 1; position: relative;" *ngIf="loading">
    <div class="d-flex justify-content-center loading">
      <div class="loader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </ng-container>

  <div class="container back">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <h1 style="font-family:'Bebas Neue', cursive;" class="tag">Contact Us</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div style="margin: 5%;">
          <div class="instagram shadow" style="border-radius: 10px; padding:5px; color: #000; ">

            <i color="accent" aria-hidden="true"></i>
            <div class="row">
              <div class="col-md-5 col-sm-4 col-xs-4">
                <h1 style="font-family: 'Dancing Script', cursive;  ">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/e-cell-sakec.appspot.com/o/Council-2020%2FE-Cell%20Head%2FEntrepreneurship%20Head.jpg?alt=media&token=f90e1c47-337c-4cf4-abb2-921fef242b9f"
                    alt="" class="img-fluid rounded float-left " width="150px">
                </h1>
              </div>

              <div class="col-md-12 col-sm-8 col-xs-8">
                <h4 style="font-weight: 700;">Milind Sir </h4>
                <h5 class="h5">
                  Assistant Professor at Shah And Anchor Kutchhi Engineering College. He is coordinating Ecell SAKEC
                  from CS.Under his guidance we are able to conduct amazing events at Ecell SAKEC.
                </h5>

                <a target="_blank" class="readmore" href="#"><b><i style="color: rgb(15, 112, 177); font-size: 30px;"
                      class=" fab fa fa-linkedin mx-4"></i></b></a>




                <a target="_blank" class="readmore" href="#"><b><i style="color:rgb(251 45 45); font-size: 30px;"
                      class=" fab fa fa-envelope"></i></b></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div style="margin: 5%;">
          <div class="instagram shadow" style="border-radius: 10px; padding:5px; color: #000; ">

            <i color="accent" aria-hidden="true"></i>
            <div class="row">
              <div class="col-md-5 col-sm-4 col-xs-4">
                <h1 style="font-family: 'Dancing Script', cursive;  ">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/e-cell-sakec.appspot.com/o/Council-2020%2FE-Cell%20Head%2FEntrepreneurship%20Head.jpg?alt=media&token=f90e1c47-337c-4cf4-abb2-921fef242b9f"
                    alt="" class="img-fluid rounded float-left " width="150px">
                </h1>
              </div>

              <div class="col-md-12 col-sm-8 col-xs-8">
                <h4 style="font-weight: 700;">Ashish Shetty</h4>
                <h5 class="h5">
                  Founder of UE Designs. His strategic thinking, event
                  planning, ability to build trust between teams, time management and leadership qualities helped him
                  become the head of Ecell SAKEC today.
                </h5>
                <a target="_blank" class="readmore" href="#"><b><i style="color: rgb(15, 112, 177); font-size: 30px;"
                      class=" fab fa fa-linkedin mx-4"></i></b></a>
                <a target="_blank" class="readmore" href=""><b><i style="color: rgb(251 45 45); font-size: 30px;"
                      class=" fab fa fa-envelope"></i></b></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div style="margin: 5%;">
          <div class="instagram shadow" style="border-radius: 10px; padding: 5px; color: #000; ">

            <i color="accent" aria-hidden="true"></i>
            <div class="row">
              <div class="col-md-5 col-sm-4 col-xs-4">
                <h1 style="font-family: 'Dancing Script', cursive;  ">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/e-cell-sakec.appspot.com/o/Council-2020%2FE-Cell%20Head%2FEntrepreneurship%20Head.jpg?alt=media&token=f90e1c47-337c-4cf4-abb2-921fef242b9f"
                    alt="" class="img-fluid rounded float-center " width="150px">
                </h1>
              </div>

              <div class="col-md-12 col-sm-8 col-xs-8">
                <h4 style="font-weight: 700;">Aditya Shahani</h4>
                <h5 class="h5">Incoming Student to Clemson University, MSCS Fall 2021. He is a part of Ecell SAKEC from
                  2018. His problem solving, organizational skills and event planning helped him
                  become __ of Ecell SAKEC</h5>

                <a target="_blank" class="readmore" href="#"><b><i style="color:  rgb(15, 112, 177);font-size: 30px;"
                      class=" fab fa fa-linkedin mx-4"></i></b></a>
                <a target="_blank" class="readmore" href="#"><b><i style="color: rgb(251 45 45); font-size: 30px;"
                      class=" fab fa fa-envelope"></i></b></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">

        <div class=" col-sm-6 map">


          <iframe class="col-sm-12"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.3528973387993!2d72.90946941490083!3d19.048215687103834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c5f39a7d77d1%3A0x9ebbdeaea9ec24ae!2sShah%20%26%20Anchor%20Kutchhi%20Engineering%20College!5e0!3m2!1sen!2sin!4v1610472312206!5m2!1sen!2sin"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>


        </div>
        <!-- <div class="container pt-5">
        <div class="row justify-content-sm-center pt-5"> -->
        <div class="col-sm-6  pb-3">

          <form [formGroup]="exform">
            <div class="form-group">
              <label class="col-form-label">Name:</label>
              <input formControlName="name" class="form-control" type="string">
              <small *ngIf="name.invalid && name.touched" class="text-danger">Name is Required</small>
            </div>
            <div class="form-group">
              <label class="col-form-label">Email:</label>
              <input formControlName="email" class="form-control" type="string">
              <small *ngIf="email.invalid && email.touched" class="text-danger">Email is Required</small>
            </div>
            <div class="form-group">
              <label class="col-form-label">Phone:</label>
              <input formControlName="phone" type="number" class="form-control">
              <small *ngIf="phone.invalid && phone.touched" class="text-danger">Phone no is Required(minimum length
                10,numbers are only allowed)</small>
            </div>
            <div class="form-group">
              <label class="col-form-label">Message:</label>
              <textarea formControlName="message" class="form-control" type="string"></textarea>
              <small *ngIf="message.invalid && message.touched" class="text-danger"> Message is Required(minimum length
                10)</small>
            </div>
            <button (click)="contact()" [disabled]="exform.invalid" type="button"
              class="btn btn-primary">{{buttonText}}</button>
          </form>
        </div>
        <!-- </div>
      </div> -->

      </div>

      <div style="width: 100%; " class="d-flex justify-content-center center" style="margin-top: 10%;">
        <div class="mainrow ">
          <ng-container>
            <div class="shadow p-3">
              <p class="teamname"> Get the membership



                <button mat-raised-button color="primary" routerLink='/membership'> Membership </button>

              </p>

            </div>
          </ng-container>
        </div>
      </div>
      <div>




      </div>

    </div>
  </div>